@font-face {
  font-family: "Futura PT Light";
  src: url("../assets/fonts/FuturaPTLight.otf");
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../assets/fonts/FuturaPTBook.otf");
}

.test {
  font-size: 12vw;
}